<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obviously20.mapper.ClazzMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clazz (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        VALUES (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectAll" resultType="com.obviously20.pojo.Clazz">
        SELECT * FROM clazz
    </select>

    <select id="selectClazz" resultType="com.obviously20.pojo.Clazz">
        select c.*, e.name as master_name from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin !=null and end !=null">
                and c.begin_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>

    <update id="update" parameterType="com.obviously20.pojo.Clazz">
        update clazz set name = #{name}, room = #{room}, begin_date = #{beginDate}, end_date = #{endDate}, master_id = #{masterId}, subject = #{subject}, update_time = #{updateTime} where id = #{id}
    </update>


</mapper>